<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.realestate.rent_insight.domain.mapper.RentCompleteMapper">

    <select id="findByComplexConditions"
            resultType="com.realestate.rent_insight.domain.entity.RentComplete">
        SELECT
            id,                             -- 계약 고유번호
            contract_date AS contractDate,  -- 계약일
            sgg_cd AS sggCd,                -- 시군구 코드
            sgg_nm AS sggNm,                -- 시군구 이름
            umd_nm AS umdNm,                -- 법정동 이름
            jibun,                          -- 지번 주소
            name,                           -- 오피스텔 단지명
            deposit,                        -- 보증금
            monthly_rent AS monthlyRent,    -- 월세
            area,                           -- 전용 면적
            build_year AS buildYear,        -- 건축 년도
            floor,                          -- 층수
            contract_term AS contractTerm,  -- 계약 기간
            contract_type AS contractType   -- 계약 종류 (신규/갱신)
        FROM
            rent_complete
        <include refid="whereCondition"></include>
        ORDER BY contract_date DESC
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <sql id="whereCondition">
        <where>
            <if test="searchDto.sggCd != null and searchDto.sggCd != ''">
                AND sgg_cd = SUBSTRING(#{searchDto.sggCd}, 1, 5)
            </if>
            <if test="searchDto.umdNm != null and searchDto.umdNm != ''">
                AND umd_nm = #{searchDto.umdNm}
            </if>
            <if test="searchDto.name != null and searchDto.name != ''">
                AND name LIKE CONCAT('%', #{searchDto.name}, '%')
            </if>
            <if test="searchDto.minDeposit != null and searchDto.maxDeposit != null">
                AND deposit BETWEEN #{searchDto.minDeposit} AND #{searchDto.maxDeposit}
            </if>
            <if test="searchDto.minRent != null and searchDto.maxRent != null">
                AND monthly_rent BETWEEN #{searchDto.minRent} AND #{searchDto.maxRent}
            </if>
        </where>
    </sql>

    <select id="countByComplexConditions" resultType="int">
        SELECT COUNT(*)
        FROM rent_complete
        <include refid="whereCondition" />
    </select>

</mapper>
