<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.realestate.rent_insight.domain.mapper.RentContractMapper">

    <select id="findByComplexConditions"
            parameterType="com.realestate.rent_insight.dto.RentContractSearchDTO"
            resultType="com.realestate.rent_insight.domain.entity.RentContract">
        SELECT
            id,                             -- 계약 고유번호
            contract_date AS contractDate,  -- 계약일
            sgg_cd AS sggCd,                -- 시군구 코드
            sgg_nm AS sggNm,                -- 시군구 이름
            umd_nm AS umdNm,                -- 법정동 이름
            jibun,                          -- 지번 주소
            name,                           -- 오피스텔 단지명
            deposit,                        -- 보증금
            monthly_rent AS monthlyRent,    -- 월세
            area,                           -- 전용 면적
            build_year AS buildYear,        -- 건축 년도
            floor,                          -- 층수
            contract_term AS contractTerm,  -- 계약 기간
            contract_type AS contractType   -- 계약 종류 (신규/갱신)
        FROM
            rent_contract
        <where>
            <!-- sggNm 대신 sggCode로, sgg_nm 대신 sgg_cd로 비교 -->
            <if test="sggCode != null and sggCode != ''">
                AND sgg_cd = #{sggCode}
            </if>
            <!-- umdNm 대신 umdName으로, umd_nm으로 비교 -->
            <if test="umdName != null and umdName != ''">
                AND umd_nm = #{umdName}
            </if>
            <if test="name != null and name != ''">
                AND name LIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="minDeposit != null and maxDeposit != null">
                AND deposit BETWEEN #{minDeposit} AND #{maxDeposit}
            </if>
            <if test="minRent != null and maxRent != null">
                AND monthly_rent BETWEEN #{minRent} AND #{maxRent}
            </if>
        </where>
    </select>

</mapper>
